<% provide(:title, "About us") %>
<h1 class = "oxigen">I like bookmarks</h1>
<p>Bookmarks are awesome</p>
<br>
<p>It's that simple, I'm trying to build a very simple but efficient way to save and organize all my links, I use different computers every day, different browsers and different locations, I want to unify and organize things a little better.</p>
<br>

<p>I tried other services like bitly, delicious, google bookmarks,etc. but in all honest they are over complicating things.</p>
<br>
<p>All I ever wanted was to keep my links organized in one "central location", with some "tags" to find things a little faster and maybe a text field to keep important notes. </p>
<br>
<p>So little bookmarks was born from that idea. In the next few days and months, I'll be adding features, until this project is complete if you are developer or a designer and would like to contribute check out my repo on <a href="https://github.com/cs102/madara">github</a>.</p>
<br>
<p>Till next time</p>
<p><a href="https://twitter.com/4thevo">Edgar</a> </p>