<% provide(:title, "Help") %>

<h1>Help</h1>
<p>Saving your favorite links doesn't have to complicated. Here's what you do:</p>
<br/>
<p>1. Register for a new account</p>
<p>2. Find a link you want to save</p>
<p>3. Use Ctrl + C to copy that link (or, if right-clicking is more your style, right click + copy)</p>
<p>4. Use Ctrl + V (or right click + paste) to paste the link in the URL field on your personal littlebookmarks page</p>
<p>5. Click on Save Bookmark</p>
<br/>
<p>Yeah, You are done</p>
<p>You're ready to access that bookmark from anywhere, in any browser, using any OS! </p>
<br/>
<p>For now, your links will appear in chronological order--but be on the lookout for several features currently in the works that will let you decide how to organize your links! </p>