<% provide(:title, "Help") %>

<h1>Help</h1>
<p>Saving your Bookmarks doesn't have to complicated</p>
<p>Steps </p>
<p>Create a new account</p>
<p>Ctrl + C to copy your like</p>
<p>Ctrl + V to paste</p>
<p>Click Save Bookmark</p>
<p>Yeah, You are done</p>
<p>that was easy wasn't it!</p>