<% provide(:title, "Help") %>

<h1>Help</h1>
<p>Saving your favorite links doesn't have to complicated</p>
<br/>
<p>1. Register for a new account</p>
<p>2. Ctrl + C to copy your link</p>
<p>3. Ctrl + V to paste</p>
<p>4. Click Save Bookmark</p>
<br/>
<p>Yeah, You are done</p>
<br/>
<p>Links are order in chronological order in a few days I'll be adding tags for better organization.</p>
<p>For now, I hope you enjoy this.</p>