<% provide(:title, "itachi") %>
<p class = "info"> Save your bookmarks and take them with you </p>
<br/>
<%= link_to (image_tag('baby-boy-icon.png')), '#' %>
<br/>
<br/>
<%= link_to "Sign Up", register_path, class: 'green' %>
<br/>
<br/>
<p>or  <%= link_to "Login to your account", login_path %></p>