<p id="notice"><%= notice %></p>
<p class ="post-title"><%= @post.title %></p>
<span class = "bookmark-time">
  <%= @post.created_at.strftime("%B %d, %Y") %>
</span>


<p class ="post-body">
  <%= raw(@post.post) %>
</p>

<%#= link_to 'Edit', edit_post_path(@post) %>
<%#= link_to 'Back', posts_path %>
