f// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* warten auf Sie - Waiting for you, Em */


/* start : styles for settings aka Edit Public Profile*/

input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="date"],
input[type="search"],
select,
textarea {
    padding: 0.5em 0.6em;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #fafafa;
}

input[type=text]:focus, input[type=password]:focus, textarea:focus {
  -moz-box-shadow: 0 0 5px #51cbee;
  -webkit-box-shadow: 0 0 5px #51cbee;
  box-shadow: 0 0 5px #51cbee;
  padding: 0.5em 0.6em;
  border: 1px solid #51cbee;
}

/* end : : styles for settings aka Edit Public Profile*/

/* Gives round corner to header images */


/* start: styles all 3 avatars sizes */
.micro {
	border-radius: 150px;
}

.mini {
	border-radius: 150px;
}
/* Gives round corner to thumb images */
.thumb {
	border-radius: 150px;
}


/* start: styles all 3 avatars sizes */

p { 
	font-size: 16px;
	line-height: 1.6em;
}
/* start : style for profiles  */

.profile_left {
	float:left;
	width: 250px;
}

.profile_name {
	display: block;
	overflow: hidden;
	width: 100%;
	font-size: 26px;
	line-height: 30px;
	text-overflow: ellipsis;
	font-weight: bold;
}

.location {
	background-image: asset-url('location-pin.png');
	background-repeat: no-repeat;
	padding-left: 20px;
	filter: opacity(50%);

}

.join {
	background-image: asset-url('clock.png');
	background-repeat: no-repeat;
	padding-left: 20px;
}

.profile_right {
	float: right;
	width:720px;
}

/* end : style for profiles */

/* start : style for users index  */
.all-users{
  line-height: 13px;
  font-size: 14px;
  color: #333333;
  display: block;
  padding: 12px;
  height:100px;
  width:290px;
  margin-left:5px;
  margin-bottom: 40px;
  margin-right:5px;
  border: 1px solid #CECCCC;
  background-color: #E3E8E8;
  float: left;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
}

.user-avatar {
  float:left;
  border: none;
  width:80px;
}

.user-name{
  float:right;
  width:180px;
  margin-left: 20px;
  overflow: hidden;
  text-transform: lowercase;
}

/* end : style for users index  */

/* start: style buttons */
.button {
position: relative;
display: inline-block;
padding: 7px 12px;
font-weight: bold;
color: #333;
text-shadow: 0 1px 0 rgba(255,255,255,0.9);
white-space: nowrap;
vertical-align: middle;
cursor: pointer;
background-color: #eee;
background-image: -webkit-linear-gradient(#fcfcfc, #eee);
background-image: linear-gradient(#fcfcfc, #eee);
background-repeat: repeat-x;
border: 1px solid #d5d5d5;
border-radius: 3px;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
-webkit-appearance: none;
}

.create_account {
color: #fff;
text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
background-color: #60b044;
background-image: -webkit-linear-gradient(#8add6d, #60b044);
background-image: linear-gradient(#8add6d, #60b044);
background-repeat: repeat-x;
border-color: #5ca941;
}
/* start: style buttons */

.small {
  font-size: 12px;
}

.capitalize {
  text-transform: capitalize;
}
.active {
  border-radius: 50%;
  background: green;
  color: #1f79cd;
  display: inline-block;
  font-weight: bold;
  line-height: 0.5em;
  margin-right: 5px;
  text-align: center;
  width: 0.5em; 
}

.not_active {
  border-radius: 50%;
  background: red;
  color: #1f79cd;
  display: inline-block;
  font-weight: bold;
  line-height: 0.5em;
  margin-right: 5px;
  text-align: center;
  width: 0.5em; 
}